.pulse {
  animation: pulse-animation 1.75s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgb(11, 169, 91, 0), 0 0 0 0px rgb(11, 169, 91, 0);
  }
  50% {
    box-shadow: 0 0 0 5px rgb(11, 169, 91, 0.25),
      0 0 0 10px rgb(11, 169, 91, 0.15);
  }
  100% {
    box-shadow: 0 0 0 0px rgb(11, 169, 91, 0), 0 0 0 0px rgb(11, 169, 91, 0);
  }
}
